// NOME DAS VARIAVEIS DE COR: http://chir.ag/projects/name-that-color/
$Mercury: #e5e5e5;
$GreenRaze: #059d42;
$Cinnabar: #e14646;
$ShuttleGray: #63666a;
$RollingStone: #778489;
$Aquamarine: #93ffe8;
$ParisWhite: #d4e4db;
